<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PricingServiceWeb.Data.Commons" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PricingServiceWeb.Data.Commons.ConnectionString" connectionString="mongodb://localhost" />
    </connectionStrings>
    <applicationSettings>
        <PricingServiceWeb.Data.Commons>
            <setting name="DataBase" serializeAs="String">
                <value>SapientProduct</value>
            </setting>
            <setting name="CollectionName" serializeAs="String">
                <value>Products</value>
            </setting>
        </PricingServiceWeb.Data.Commons>
    </applicationSettings>
</configuration>