@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Contact:</strong>   <a href="mailto:dotnetkrish@ooutlook.com">dotnetkrish@outlook.com</a><br />
</address>